C:\WORK\SiFli-SDK\main\Kconfig.v2
C:\WORK\SiFli-SDK\main\customer\boards\Kconfig.v2
C:\WORK\SiFli-SDK\main\customer\boards\Kconfig_drv
C:\WORK\SiFli-SDK\main\customer\boards\Kconfig_lcd
C:\WORK\SiFli-SDK\main\customer\boards\Kconfig_lcd_fpga
C:\WORK\SiFli-SDK\main\customer\boards\Kconfig_soc
C:\WORK\SiFli-SDK\main\customer\boards\sf32lb52-lcd_base\Kconfig.board
C:\WORK\SiFli-SDK\main\customer\boards\sf32lb52-lcd_n16r8\Kconfig.board
C:\WORK\SiFli-SDK\main\customer\boards\sf32lb52-lcd_n16r8\hcpu\Kconfig.board
C:\WORK\SiFli-SDK\main\customer\peripherals\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\audio\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\bluetooth\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\buzzer\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\charger\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\encoder\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\gps\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\motor\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\nand\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\nor\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\pa\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\pmic_controller\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\rgb\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\sd\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\sensor\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\vibrator\Kconfig
C:\WORK\SiFli-SDK\main\customer\peripherals\wifi\Kconfig
C:\WORK\SiFli-SDK\main\example\boot_loader\project\butterflmicro\ram_v2\Kconfig.proj
C:\WORK\SiFli-SDK\main\external\CMSIS\Kconfig
C:\WORK\SiFli-SDK\main\external\CmBacktrace-v1.3.0\Kconfig
C:\WORK\SiFli-SDK\main\external\FlashDB\Kconfig
C:\WORK\SiFli-SDK\main\external\Kconfig
C:\WORK\SiFli-SDK\main\external\SEGGER_SystemView-master\Kconfig
C:\WORK\SiFli-SDK\main\external\WebRTC_audio_processing\Kconfig
C:\WORK\SiFli-SDK\main\external\cJSON-1.7.17\Kconfig
C:\WORK\SiFli-SDK\main\external\cherryusb\Kconfig.rttpkg
C:\WORK\SiFli-SDK\main\external\coremark\Kconfig
C:\WORK\SiFli-SDK\main\external\cwm_lib\Kconfig
C:\WORK\SiFli-SDK\main\external\easytlv\Kconfig
C:\WORK\SiFli-SDK\main\external\faad2\Kconfig
C:\WORK\SiFli-SDK\main\external\ffmpeg\Kconfig
C:\WORK\SiFli-SDK\main\external\flac-1.5.0\Kconfig
C:\WORK\SiFli-SDK\main\external\freetype\Kconfig
C:\WORK\SiFli-SDK\main\external\fsck\Kconfig
C:\WORK\SiFli-SDK\main\external\jpeg_codec\Kconfig
C:\WORK\SiFli-SDK\main\external\libhelix-mp3\Kconfig
C:\WORK\SiFli-SDK\main\external\libogg-1.3.6\Kconfig
C:\WORK\SiFli-SDK\main\external\lvgl_v8\Kconfig
C:\WORK\SiFli-SDK\main\external\lvgl_v8\Kconfig_v8
C:\WORK\SiFli-SDK\main\external\lvgl_v9\Kconfig
C:\WORK\SiFli-SDK\main\external\lz4\Kconfig
C:\WORK\SiFli-SDK\main\external\mbedtls\Kconfig
C:\WORK\SiFli-SDK\main\external\mbedtls_228\Kconfig
C:\WORK\SiFli-SDK\main\external\micropython\Kconfig
C:\WORK\SiFli-SDK\main\external\nanopb\Kconfig
C:\WORK\SiFli-SDK\main\external\opus-1.4\Kconfig
C:\WORK\SiFli-SDK\main\external\quickjs\Kconfig
C:\WORK\SiFli-SDK\main\external\rlottie\Kconfig
C:\WORK\SiFli-SDK\main\external\rpmsg-lite\Kconfig
C:\WORK\SiFli-SDK\main\external\sensor-lib\Kconfig
C:\WORK\SiFli-SDK\main\external\state_machine-latest\Kconfig
C:\WORK\SiFli-SDK\main\external\tinymp3\Kconfig
C:\WORK\SiFli-SDK\main\external\vglite\Kconfig
C:\WORK\SiFli-SDK\main\external\webclient\Kconfig
C:\WORK\SiFli-SDK\main\external\wpa_supplicant-rtos\Kconfig
C:\WORK\SiFli-SDK\main\middleware\Kconfig
C:\WORK\SiFli-SDK\main\middleware\audio\Kconfig
C:\WORK\SiFli-SDK\main\middleware\audio\anyka\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\Kconfig.hw
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\Kconfig.adv
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\Kconfig.iso
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\Kconfig.zbt
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\common\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\host\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\lib\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\mesh\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
C:\WORK\SiFli-SDK\main\middleware\bluetooth\zephyr_bt\settings\Kconfig
C:\WORK\SiFli-SDK\main\middleware\coredump\Kconfig
C:\WORK\SiFli-SDK\main\middleware\file_logger\Kconfig
C:\WORK\SiFli-SDK\main\middleware\lvgl\Kconfig
C:\WORK\SiFli-SDK\main\middleware\metrics_collector\Kconfig
C:\WORK\SiFli-SDK\main\middleware\profiler\Kconfig
C:\WORK\SiFli-SDK\main\rtos\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\iot\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\iot\netutils\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\misc\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\misc\samples\Kconfig
C:\WORK\SiFli-SDK\main\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\cplusplus\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\dfs\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\drivers\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\finsh\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\libc\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\net\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\net\at\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\net\lwip\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\net\netdev\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\net\sal\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\components\utilities\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\libcpu\Kconfig
C:\WORK\SiFli-SDK\main\rtos\rtthread\src\Kconfig
D:\SF32\develop\SiFli-SDK\work\ov2640-52\project\sf-pkgs\full_deploy\host\ov2640\0.0.2\examples\take_photo\project\build_sf32lb52-lcd_n16r8_hcpu\bootloader\Kconfig
